* {
  font-family: Arial, sans-serif;
}

.navbar .menu-horizontal .normal-menu {
  padding: 10px;
  font-size: 13px !important;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar .menu-horizontal .normal-menu:hover {
  font-weight: 700;
  font-size: 18px !important;
}

.navbar .menu-horizontal .sub-menu {
  color: white;
  padding: 10px 0;
  font-size: 13px !important;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar .menu-horizontal .sub-menu:hover {
  font-size: 14px !important;
}

h1,
h2,
h3 {
  font-family: "Hanken Grotesk", sans-serif;
}

/* slide show animate */
.slide-show {
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

#tab-selector input {
  padding: 10px 15px;
  font-size: 13px;
}

select option {
  color: black;
  font-size: 14px;
}

footer .info-head {
  text-transform: uppercase;
  font-size: 13px;
}

footer ul {
  font-size: 12px;
  color: black;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

footer ul a:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.5);
}
