* {
  font-family: Arial, sans-serif;
}

.navbar .menu-horizontal li {
  padding: 10px;
  font-size: 13px !important;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar .menu-horizontal li:hover {
  font-weight: 700;
  font-size: 18px !important;
}

h1,
h2,
h3 {
  font-family: "Hanken Grotesk", sans-serif;
}

/* slide show animate */
.slide-show {
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

#tab-selector input {
  padding: 10px 15px;
  font-size: 13px;
}
